/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #1e73be;
$titleFontColor: #1E73BE;
$fontcolor: #333;

// Background colors: 
$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //
$bordergrey: #BDBDBD;
$borderltgrey: #DDD;
$navbarcolor: #2bb673;
$navbar-linkcolor: #FFF;
$navbar-activecolor: #1e73be;
$navbar-hovercolor: #1e73be;
$footer-widgets-background: #333;

$buttoncolor: #1e73be;
$separatorcolor: #C2C2C2; 

/* Typography ------------------------------------------ */
